* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --bg1: #d6d6d6;
  --bg2: #23232e;
}
body {
  background-color: var(--bg1);
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
} a:hover {
  opacity: 0.7;
}
.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  background: var(--bg2);
  height: 10vh;
}
.nav-list {
  list-style: none;
  display: flex
}
.nav-list li a{
  letter-spacing: 3px;
  margin: 0 0 0 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px
}

main {
  margin: 1rem 3rem;
}

@media screen and (max-width: 720px) {

  /* Configurações de responsividade do header */
  header {
    position: sticky;
    top: 0;
  }

  .logo {
    font-size: 1rem;
    z-index: 1;
  }
  .mobile-menu {
    display: block;
    z-index: 1;
  }
  .nav {
    padding: 1rem;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #23232e;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    clip-path: circle(100px at 90% -15%);
    transition: 0.7s ease-in-out;
    pointer-events: none;
  }
  .nav-list a {
    margin: 0;
    padding-block: 2rem;
  }
  .nav.active .nav-list {
    clip-path: circle(1500px at 90% 10%);
    pointer-events: all;
  }
  .nav.active .mobile-menu {
    border-top-color: transparent;
  }

  /* Configurações de responsividade do main */
  main {
    margin: 1rem;
  }
}
