* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --bg1: #d8d8d8;
  --bg2: #151515;
  --text1: #030303;
  --text2: #DC1E24;
}
body {
  background: var(--bg1);
}

a {
  color: var(--text2);
  text-decoration: none;
  transition: 0.3s ease;
} a:hover {
  opacity: 0.7;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg2);
  height: 4vh;
  color: var(--bg1);
}
strong {
  color: var(--text2);
}

main {
  margin: 1rem 3rem;
}
.inicio {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.dev-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dev-title h1 {
  font-size: 52px;
  font-weight: 500;
  letter-spacing: 4px;
}
.dev-title h3 {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 3px;
}
.inicio img {
  width: 30%;
}

.sobre {
  margin: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sobre h2 {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 4px;
}

.sobre-desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 20px;
  letter-spacing: 2px;
}

.btn-contato {
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.btn-contato h2 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 3px;
}
.btn-contato a {
  margin: 3rem;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-align: center;
  background: var(--text1);
  border-radius: 500px;
}
.btn-contato a:hover {
  opacity: 1;
  background: var(--text2);
  color: var(--text1);
}

header {
  position: sticky;
  top: 0;
}
.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--text2);
  font-weight: 500;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  background: var(--bg2);
  height: 10vh;
  font-weight: 500;
}
.nav-list {
  list-style: none;
  display: flex
}
.nav-list li a{
  letter-spacing: 3px;
  margin: 0 0 0 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--bg1);
  margin: 8px
}



@media screen and (max-width: 720px) {

  /* Configurações de responsividade do header */
  .logo {
    font-size: 1rem;
    z-index: 1;
  }
  .mobile-menu {
    display: block;
    z-index: 1;
  }
  .nav {
    padding: 1rem;
  }
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg2);

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    clip-path: circle(100px at 90% -15%);
    transition: 0.7s ease-in-out;
    pointer-events: none;
  }
  .nav-list a {
    margin: 0;
    padding-block: 2rem;
  }
  .nav.active .nav-list {
    clip-path: circle(1500px at 90% 10%);
    pointer-events: all;
  }
  .nav.active .mobile-menu {
    border-top-color: transparent;
  }

  /* Configurações de responsividade do main */
  main {
    margin: 1rem;
  }

  .inicio {
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .dev-title {
    gap: 1rem;
  }
  .dev-title h1 {
    font-size: 32px;
  }
  .dev-title h3 {
    font-size: 22px;
  }
  .inicio img {
    width: 90%;
  }

  .sobre {
    margin: 4rem 0.5rem;
  }
  .sobre h2 {
    font-size: 24px;
  }
  .sobre-desc {
    gap: 1rem;
    font-size: 18px;
    text-align: justify;
  } 

  .btn-contato h2 {
    font-size: 20px;
    text-align: center;
  }
  .btn-contato a {
    margin: 1rem;
    font-size: 18px;
  }
}
